.signup-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-login {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.signup-wrapper {
  display: flex;
}

.signup-form-footer{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (min-width: 768px) {
  .signup-form {
    width: 320px;
  }
}
